body {
	width: 90%;
	margin: 0 auto;
	font: normal 90%/1.5 Sans-Serif;
}

ul {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

li {
	list-style: none;
	display: inline-block;
	margin: 10px 10px;
	width: 200px;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

li a, li img {
	display: block;
	margin: 3px auto;
	max-width: 192px;
	max-height: 133px;
}

li img {
	padding: 5px;
	border: 2px solid #ccc;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
	border-radius: 5px;
}
li:hover img, li:hover {
	-moz-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1.05) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

form {
	width: 100%;
	margin: 1em auto 0 auto;
}

label {
	width: 15%;
}

label, select {
	margin: 0 5px 0 15px;
	min-width: 100px;
}

form select {
	margin-left: 5px;
}

form input[type=number] {
	width: 2.5em;	
	text-align: center;
}

input[type=text]{
	width: 35%;
	min-width: 100px;
	padding-left: 5px;
}

input[type=submit]{
	width: 15%;
	min-width: 100px;
}

input:focus {
	-moz-box-shadow: 1px 1px 3px rgb(100,100,250);
	-ms-box-shadow: 1px 1px 3px rgb(100,100,250);
	-o-box-shadow: 1px 1px 3px rgb(100,100,250);
	-webkit-box-shadow: 1px 1px 3px rgb(100,100,250);
	box-shadow: 1px 1px 3px rgb(100,100,250);
}

#lightBox {
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
}

#lightBox img {
	max-width: 900px;
	max-height: 600px;
	display: block;
	margin: 10% auto 0 auto;
}

#lightBox p {
	background: inherit;
	text-align: center;
	color: white;
	margin: 1em auto 0 auto;
	padding: 0.5em;
}