@import 'bootstrap.min.css';
@import 'bootstrap-responsive.min.css';
@import 'fontello.css';

body {	
	background: url('../img/straws.png') repeat;
}

#no_show {
	display: none;
}

body #wrap .alert-error {
	text-align: center;
	margin: 1em 0 0 0 ;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.3em;
	margin-top: 0;
}

#connexion {
	margin-top: 1em ;
}

body #connexion #login, #connexion ul {
	display: block;
	float: none;
	display: block;
	margin: 0 auto;
}

#login label:last-child {
	margin-left: 1em;
}

#login {
	display:  block;
	float:  none;
	margin:  15% auto 0 auto;	
	background: none repeat scroll 0 0 #DDDDDD;
	border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 1em 1em 0 1em;
}

#login .alert-error {
	background-color: #F2CDCD;
	border-color: #EEa0b4;
}

#login label {
	width: 120px;
}

#login .controls {
	margin-left: 140px;
}




#userData {
	padding: 0 0.5em;
}

#userData input[type="submit"] {
	margin-top: 0;
}

#userData #civilite {
	margin: 0 0 0.35em -1em;
}

#code_postal, #ville, #nom, #prenom  {
	margin: -0.5em 0 1em 0;
}

#nom, #prenom, #adresse {
	margin-bottom: 0.4em;
}

#jour, #mois, #annee, #email {
	margin-bottom: 1em;
}

#userData label {
	margin-top: 0.35em;
	margin-bottom: 0;
	font-size: 0.9em;
}




.contests h2 {
	padding-left: 0.3em;
}

.contest img {
	display: block;
	max-width: 128px;
	max-height: 128px;
	margin: 0 auto 0.5em auto;
}

.contest span {
	display: none;
}

.contest .actionPrize {
	font-size: 1.4em;
	width: 1em;
}

.contest .action a {
	margin-bottom: 0.8em;
}

.contest a {
	text-decoration: none;
}

.contest .row-fluid .prize {
	position: relative;
	margin: 0;
	padding: 0.5em;
}

.actionPrize {
	position: absolute;
	bottom: 2em;
	left: -0.25em;
}

.contest {
	border-bottom: 1px solid #aaa;
	position: relative;
	line-height: 1.5;
	margin-bottom: 1em;
}

.contest:last-child {
	border: none;
}

.contest h3 {
	margin: 0; 
	padding-left: 0.5em;
}



.actionContest {
	position: absolute;
	top: 0.3em;
	right: 0.5em;
	font-size: 1.4em;
}

.actionContest a {
	margin-right: 0.8em;
}

.prize .actionPrize {
	display: none;
}

.prize:hover .actionPrize {
	display: block;
}

.astuces h4 {
	margin-top: 0.4em;
}

.contest .valeur {
	text-align: center;
	color: #aa0000;
	font-weight: bold;
	font-style: normal;
}

body #wrap #updateContest, body #wrap #addPrize, #wrap #updatePrize {
	display: block;
	float: none;
	margin: 2em auto 0 auto;
}






#updateContest input[type="submit"] {
	margin-top: 1em;
}



#addContest {
	margin-left: 0;
}

input[type="submit"] {
	margin-top: 1em;
}

#addContest label {
	font-size: 1.1em;
	font-weight: bold;
}

#legend {
	overflow: auto;
	margin-left: 0;
	padding: 0.5em 1em;
}

#legend li {
	margin: 0.5em 0;
	padding: 0 0.5em;
	color: #18658b; /* #3A87AD */
}



#updatePrize label {
	width: 70px;
}

#updatePrize .controls {
	margin-left: 90px;
}

